/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  color: var(--color-white);
}
:root {
  --color-black: #111111;
  --color-darkviolet: #1e1823;
  --color-orange: #fd9222;
  --color-bgwhite: #fafafa;
  --color-white: #ffffff;
  --transition-type: cubic-bezier(0.61, 0.48, 0.94, 0.16);
  --transition-time: 250ms;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  background-color: var(--color-bgwhite);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  outline: solid tomato;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--color-black);
}

.section-title-accent {
  color: var(--color-orange);
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  padding: 14px 40px;
  color: var(--color-white);
  border: 2px solid green;
  background-color: aqua;
  max-width: 100%;
}

.btn-small {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border-radius: 100px;
  padding: 12px 28px;
  color: var(--color-white);
}

/* Section Subscribe */
.subscribe-section {
  padding-top: 62px;
  padding-bottom: 63px;
  height: 370px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(./img-subscribe/subscribe-chocolate-mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscribe-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.subscribe-title-box {
  max-width: 291px;
}
.subscribe-title {
  color: var(--color-white);
  text-align: center;
  line-height: 1.2;
}
.subscribe-paragraph-box {
  max-width: 326px;
}
.subscribe-paragraph {
  color: var(--color-white);
  text-align: center;
  line-height: 1.29;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 41px;
  background-color: var(--color-orange);
  border: none;
  cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--color-orange);
  background-color: #fcf1e0;
}
@media screen and (min-width: 375px) {
  .subscribe-paragraph-box {
    max-width: 467px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    padding: 72px 0;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./img-subscribe/subscribe-chocolate-tablet-1x.jpg);
  }
  .subscribe-flex {
    height: 226px;
  }
  .subscribe-btn {
    width: 172px;
    height: 50px;
  }
  .subscribe-title {
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./img-subscribe/subscribe-chocolate-desktop-1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./img-subscribe/subscribe-chocolate-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./img-subscribe/subscribe-chocolate-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(./img-subscribe/subscribe-chocolate-desktop-2x.jpg);
  }
}
